<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>firstApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D408A7B31ED8ADF7002CC346</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D408A7C71ED8ADF9002CC346</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D408A7D21ED8ADFA002CC346</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
